*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    /* height: 60px; */
    background-color: #081b31;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;



}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {

  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 155px;
  width: 155px;
  object-fit: cover;
  border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.score{
    font-size: 25px;
    
}
.score h3{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
#user-score{
    color: blue;
    font-size: 2rem;
}
#comp-score{
    color: red;
     font-size: 2rem;
}
#you{
    color: white;
    width: 100px;
    background-color: blue;
    border-radius: 100px;
}
#comp{
    color: white;
    width: 150px;
    background-color: red;
    border-radius: 100px;
}
.msg-container{
    margin-top: 50px; 
}
.msg{
    
    
    display: inline;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgb(12, 12, 12, 0.9);
}
footer{
    margin-top: 50px;
    
}

