    
   * {
        margin: 0;
        padding: 0;
        color: white;
    }
    
   select {
        font-size: 20px;
        padding: 10px;
        background-color: orange;
        border: none;
        padding-left: 0;
        padding-right: 0px;
        font-weight: bold; 
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        appearance: none;
        -webkit-appearance: none;
        text-align: center;
        
    }
    
    h2 {
        color:blue;
    }
    ul {
        font-size: 20px;
        padding-top: 10px;
        padding-left: 20px;
        text-decoration: none;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        align-items: center;
         
       


        
    }
   #navbar {
        height: 60px;
        background-color: orange;
        display: flex;   
        justify-content: space-evenly;  
         align-content: flex-start;
  
    }
    logo img {
        height: 60px;
        vertical-align: middle;
        margin-right: 20px;
        padding-left: 20px;
    }
    a {
        text-decoration: none;
    }
  
    footer {
        background-color: orange;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
   
    header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
    }
    main {

        
        color: black;
        text-align: center;
    }
    li {
        display: inline;
        list-style: none;
        margin-left: 120px;
    }
   
    @media(max-width:300px)
    {
          #navbar {
            background-color: rgb(78, 197, 9);
    
        }
        select {
            background-color: rgb(78, 197, 9);
            color: rgb(255, 255, 255);
        }
        footer
        {
            background-color: rgb(78, 197, 9);
            
        }
        *{
            color: rgb(255, 255, 255);
        } 
        
    }
   
    @media (min-width:300px) and (max-width:400px) {
        #navbar {
            background-color: brown;
    
        }
        select {
            background-color: brown;
            color: black;
        }
        footer
        {
            background-color: brown;
            
        }
        *{
            color: black;
        } 
        
    }
    @media (min-width:400px) and (max-width:600px) {
        #navbar {
            background-color: purple;
    
        }
        select {
            background-color: purple;
            color: blue;
        }
        footer
        {
            background-color: purple;
            
        }
        *{
            color: blue;
        } 
        
    }
    @media(min-width:600px)
    {
          #navbar {
            background-color: orange;
    
        }
        select {
            background-color: orange;
            color: rgb(255, 255, 255);
        }
        footer
        {
            background-color: orange;
            
        }
        *{
            color: rgb(255, 255, 255);
        } 
        
    }
#box {
    background-image: url("images/storeBanner1.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 70%;
    z-index: 1000;
  
}   
#container {
    width: 450px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 10;
    opacity: 80%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 4px 4px 5px rgb(63, 60, 60), -4px -4px  5px rgb(63, 60, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
   

}
h1 {
    color: white;
    align-content: center;
    margin-top: 20px;
}
label
{   margin-top: 10px ;
    margin-left: 80px;
    margin-bottom: 5px;
    font-size: 15px;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}
.center
{
    border-radius: 10px;
    text-align: start;
    padding: 4px;
    padding-left: 5px;
    background-color: black;
}
.center:active{
     transition-timing-function: ease;
    transition-duration: 0.5s;
}
#rem {
    margin-top: 10px;
    margin-left: -10px;
    

}
.forget
{
    
    margin-left: 120px;
    text-decoration: underline;
    
}
button{
    margin-top: 10px;
    align-self: center;
    width: 100px;
    height: 30px;
    background-color: black;
    border: 2px solid white;
    margin-left: -20px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    border-radius: 10px;
}
button:hover
{
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    

}



