* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #bbb2b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
form {
    
    margin: 2rem 0 1rem 0;
}
form input, form select {
    width: 100%;
   
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
form input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}
.dropdown i {
    margin-top: 24px;
    font-size: 24px;
    color: #555;
}
p {
    margin-bottom: 8px;
    font-weight: bold;
}
#error-msg {
    color: red;
    margin-top: 4px;
    font-size: 10px;
    display: none;
}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 4px;
    border: 1px solid #ccc;

}
.select-container img {
    max-width: 32px;
   
}
.msg {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
