 *{
    margin: 0;
    padding: 0;
    color: white;
 }
 
 /* Announcement Bar */
 .announcementbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 44px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    

 }
 #announcement{
   display: flex;
  justify-content: center;
  align-items: center;

 }


#announcement p {
  position: absolute;
  opacity: 0;
  animation: fadeMove 6s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#announcement :nth-child(1) { animation-delay: 0s; }
#announcement :nth-child(2) { animation-delay: 3s; }

@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opacity: 0;
    transform: translateX(0);
  }

  80% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% { opacity: 0; }
}

/* NAV Bar*/
.navbar{
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navlogo{
  margin-left: 20px;
  height: 70px;
  width: 230px;
  background-image: url("Data/logo.png") ;
  background-size: cover;
  margin-left: 100px;
  margin-right: 30px;
}
 
/* Pages */
.page-links a{
  color: rgb(100, 97, 97);
  font-size: 18px;
  margin-left: 25px;
 
}
.collection{
  border: none;
  color: black;
   color: rgb(100, 97, 97);
  font-size: 17px;
  margin-left: 10px;
 
}

/* Currency */

.nav-box3{
  display: flex;
  align-items: center;
  margin-left: 300px;
}
.country-name {
  color: #000;
  border: none;
  font-size: 15px;
  margin-left: 20px;
}

.search
{
  height: 20px;
  width: 20px;
  background-image: url("Data/search-icon.png");
  background-size: cover;
  margin-left: 20px;
 
}
.Account
{
  height: 20px;
  width: 20px;
  background-image: url("Data/account-icon.png");
  background-size: cover;
   margin-left: 20px;
}
.cart{
  height: 30px;
  width: 30px;
  background-image: url("Data/cart-icon.png");
  background-size: cover;
   margin-left: 20px;
}
/* Hero Section */
.hero-section{
  height: 600px;
  background-image: url("Data/heroimg.png");
  background-size: cover;
  background-size: 110%;
  background-repeat: no-repeat;
  animation: bgCircle 10s linear infinite ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  

}
@keyframes bgCircle {
 
  0%   { background-position: 50% 45%; }
  12%  { background-position: 55% 48%; }
  25%  { background-position: 60% 50%; }
  37%  { background-position: 55% 52%; }
  50%  { background-position: 50% 55%; }
  62%  { background-position: 45% 52%; }
  75%  { background-position: 40% 50%; }
  87%  { background-position: 45% 48%; }
  100% { background-position: 50% 45%; }

}
strong{
  font-size: 75px;
  width: 750px;
  margin-left: 30px;
  margin-top: -100px;
}
#banner-line{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 25px;
}
button{
  height: 50px;
  width: 132px;
  margin-left: 30px;
  margin-top: 25px;
  background-color: transparent;
  border: 0.01px solid white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  
}
button:hover{
  
  box-shadow: 0px 1px 10px rgba(233, 225, 225, 0.35);
}
#coll-heading{
  font-size: 50px;
  color: black;
  margin: 50px;
}
.coll-pages{
  height: 220px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  
}
.page{
  height: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  /* overflow: hidden; */

}
#p-img{
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;

  

  }
  #p-desc{
    color: black;
    font-size: 22px;
    margin-top: 20px;
  }
  .page:hover #p-img {
  transform: scale(1.03);
  transition-duration: 1s;
  box-shadow: 0px 0px 10px rgb(133, 131, 131);
}


