 *{
    margin: 0;
    padding: 0;
    color: white;
 }
 
 /* Announcement Bar */
 .announcementbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 44px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    

 }
 #announcement{
   display: flex;
  justify-content: center;
  align-items: center;

 }


#announcement p {
  position: absolute;
  opacity: 0;
  animation: fadeMove 6s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#announcement :nth-child(1) { animation-delay: 0s; }
#announcement :nth-child(2) { animation-delay: 3s; }

@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opacity: 0;
    transform: translateX(0);
  }

  80% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% { opacity: 0; }
}

/* NAV Bar*/
.navbar{
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navlogo{
  margin-left: 20px;
  height: 60px;
  width: 230px;
  background-image: url("Data/logo.png") ;
  background-size: cover;
  margin-left: 100px;
  margin-right: 30px;
}
 
/* Pages */
.page-links a{
  color: rgb(100, 97, 97);
  font-size: 18px;
  margin-left: 25px;
 
}
.collection{
  border: none;
  color: black;
   color: rgb(100, 97, 97);
  font-size: 17px;
  margin-left: 10px;
 
}

/* Currency */

.nav-box3{
  display: flex;
  align-items: center;
  margin-left: 300px;
  
  
  

}
.country-name {
  color: #000;
  border: none;
  font-size: 15px;
  margin-left: 20px;
}

.search
{
  height: 20px;
  width: 20px;
  background-image: url("Data/search-icon.png");
  background-size: cover;
   margin-left: 20px;
 
}
.Account
{
  height: 20px;
  width: 20px;
  background-image: url("Data/account-icon.png");
  background-size: cover;
   margin-left: 20px;
}
.cart{
  height: 30px;
  width: 30px;
  background-image: url("Data/cart-icon.png");
  background-size: cover;
   margin-left: 20px;
}
