 *{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
 }
 
 /* Announcement Bar */
 .announcementbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 44px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    

 }
 #announcement{
   display: flex;
  justify-content: center;
  align-items: center;

 }


#announcement p {
  color: white;
  position: absolute;
  opacity: 0;
  animation: fadeMove 6s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#announcement :nth-child(1) { animation-delay: 0s; }
#announcement :nth-child(2) { animation-delay: 3s; }

@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opacity: 0;
    transform: translateX(0);
  }

  80% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% { opacity: 0; }
}

/* NAV Bar*/
.navbar{
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navlogo{
  margin-left: 20px;
  height: 70px;
  width: 230px;
  background-image: url("Data/logo.png") ;
  background-size: cover;
  margin-left: 100px;
  margin-right: 30px;
}
 
/* Pages */
.page-links a{
  color: rgb(100, 97, 97);
  font-size: 18px;
  margin-left: 25px;
 
}
.collection{
  border: none;
  color: black;
   color: rgb(100, 97, 97);
  font-size: 17px;
  margin-left: 10px;
 
}

/* Currency */

.nav-box3{
  display: flex;
  align-items: center;
  margin-left: 300px;
}
.country-name {
  color: #000;
  border: none;
  font-size: 15px;
  margin-left: 20px;
}

.search
{
  height: 20px;
  width: 20px;
  background-image: url("Data/search-icon.png");
  background-size: cover;
  margin-left: 20px;
 
}
.Account
{
  height: 20px;
  width: 20px;
  background-image: url("Data/account-icon.png");
  background-size: cover;
   margin-left: 20px;
}
.cart{
  height: 30px;
  width: 30px;
  background-image: url("Data/cart-icon.png");
  background-size: cover;
   margin-left: 20px;
}
/* Hero Section */
.hero-section{
  height: 600px;
  background-image: url("Data/heroimg.png");
  background-size: cover;
  background-size: 110%;
  background-repeat: no-repeat;
  animation: bgCircle 10s linear infinite ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  

}
@keyframes bgCircle {
 
  0%   { background-position: 50% 45%; }
  12%  { background-position: 55% 48%; }
  25%  { background-position: 60% 50%; }
  37%  { background-position: 55% 52%; }
  50%  { background-position: 50% 55%; }
  62%  { background-position: 45% 52%; }
  75%  { background-position: 40% 50%; }
  87%  { background-position: 45% 48%; }
  100% { background-position: 50% 45%; }

}
strong{
  color: white;
  font-size: 75px;
  width: 750px;
  margin-left: 30px;
  margin-top: -100px;
}
#banner-line{
  color: white;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 25px;
}
.shop{
  color: white;
  height: 40px;
  width: 132px;
  margin-left: 30px;
  margin-top: 25px;
  background-color: transparent;
  border: 0.01px solid white;
  border-radius: 20px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  
}
.shop:hover{
  
  box-shadow: 0px 1px 10px rgba(233, 225, 225, 0.35);
}
#coll-heading{
  font-size: 50px;
  color: black;
  margin: 50px;
}
.coll-pages{
  height: 220px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  
}
.page{
  height: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  /* overflow: hidden; */

}
#p-img{
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;

  

  }
  #p-desc{
    color: black;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page:hover #p-img {
  transform: scale(1.03);
  transition-duration: 1s;
  box-shadow: 0px 0px 10px rgb(133, 131, 131);
}
/* Featured Section */

.featured-product{
  height: 500px;
  width: 100%;
  background-color: rgb(247, 250, 252);  
  margin-top: 100px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-evenly;

  

}
/* Styling for the Full Screen Image Modal */
.image-modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
  margin-top: 5%;
  border: 5px solid white;
}


.feat-prod-img{
  cursor: zoom-in; 
  height: 400px;
  width: 600px;
  background-image: url(Data/Dumbells/Adjustable-Dumbells/dm-adj-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;

}
/* Full screen modal background */
#imageModal {
  background-color: white; /* Pure black for cinema feel */
}

/* Make image fill the screen */
.full-screen-preview {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Shows full image without cropping */
  display: block;
}

/* Ensure X button stays on top of the full-screen image */
#forceCloseImg {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 50px;
  color: black;
  z-index: 2000;
  cursor: pointer;
}
.feat-prod-desc{
  
  width: 340px;
  margin-left: -40px;

  
  
  
}
#p-title{
  font-size: 40px;
  margin-top: 20px;
}
.p-price{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
#Regular-price{
  text-decoration: line-through;
}
#sale{
  height: 25px;
  width: 50px;
  background-color:black ;
  color: white;
  border-radius: 20px;
  padding-left:10px ;
}

#Buy{
  color: white;
  background-color:rgb(0, 0, 0) ;
  width: 340px;
  box-shadow: 0px 0px 5px black;
  border: 1px solid rgb(59, 58, 58);
  margin-left: -5px;
  cursor: pointer;

}
/* The Background Overlay */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal Box */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
  color: black;
}

/* Close Button */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
#addToCartBtn{
  color: black;
  border: 1px solid black;
  width: 340px;
  margin-left: -5px;
  cursor: pointer;
}
 #checkout{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;

}
.close-btn1 {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* Footer */
footer{
  height: 500px;
  width: 100%;
  background-color: black;
}
.f-links{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;

  
}
ul{
  list-style: none;
}


 li{
  color: white;
  margin-top: 20px;

}
h3{
  color: white;
  font-size: 25px;
}
.mission{
  
  width: 300px;
}
.mission p{
  margin-top: 10px;
  color: white;
  font-size: 20px;
}
.f-email{
  height: 70px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.f-email p{
  color: white;
  font-size: 20px;
}
.email-input{
  
  background-color: transparent;
  border: 1px solid rgb(201, 193, 193);
  width: 300px;
  height: 30px;

}
